<div class="flex-shrink-0 block text-gray-700 md:inline-block md:w-32">
  <%= render "madmin/shared/label", form: form, field: field %>
</div>
<%= form.rich_text_area field.attribute_name, class: "form-input" %>
