<div class="self-center max-w-5xl px-8 bg-gray-100 md:rounded-xl">
  <h2 class="mt-8 font-bold tracking-wide text-center text-pink-500 uppercase">Petite description de l'ASFE</h2>
  <h3 class="mt-2 text-4xl font-extrabold tracking-tight text-center text-slate-900">L'ASFE, cette merveilleuse machine à gagner</h3>
  <blockquote class="">
    <p class="mt-4 mb-8 space-y-6 font-medium tracking-tight text-gray-900 quotes">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="mt-4 mb-8 space-y-6 font-medium tracking-tight text-gray-900 quotes">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </blockquote>
</div>
