<div class="self-center max-w-5xl px-8 bg-gray-100 md:rounded-xl">
  <h2 class="mt-8 font-bold tracking-wide text-center uppercase text-asfe-blue-light">L’Alliance Solidaire des Français de l’Etranger (ASFE)</h2>
  <h3 class="mt-2 mb-8 text-4xl font-extrabold tracking-tight text-center text-asfe-blue">L’ASFE, un mouvement indépendant<br>dédié aux Français de l’étranger.</h3>
  <blockquote class="">
    <div class="mt-4 mb-8 space-y-6 font-medium tracking-tight text-gray-700 quotes">
    <p>Entre deux et trois millions et demi de Français sont établis à l’étranger. C’est considérable : plus que le nombre d’habitants à Paris.</p>
    <p>Ces Français ont des besoins et des aspirations légitimes et variés : l’école de leurs enfants, leurs retraites, la santé et la sécurité de leur famille… le besoin de s’informer facilement de leurs droits, la possibilité de savoir qu’ils peuvent toujours rentrer, ou être accueillis pour la première fois lorsqu’ils ont toujours vécu à l’étranger.</p>
    <p>Nous pensons que nos intérêts ne sont pas suffisamment défendus en France, où pourtant les décisions prises continuent de nous affecter.</p>
    <p>Nous pensons que cela tient au fait que les Français de l’étranger ne sont pas suffisamment entendus ni compris, car non défendus dans une optique indépendante des partis politiques nationaux. Ces derniers ne voient souvent les Français de l’étranger que comme des réserves de voix, à mobiliser à la veille des élections.</p>
    <p>L’ASFE est composée de Français de l’étranger : actuels, anciens, ou qui comptent le devenir à nouveau. Notre ambition est de faire émerger une représentation des Français de l’étranger plus en phase avec ce que cette communauté est devenue ces dernières années. Plus diverse, plus libre, parfois plus précaire.</p>
    <p>Se tourner vers ses compatriotes lorsque l’on part à l’étranger est un réflexe. Les réseaux de solidarité locaux, et existants, doivent se faire davantage entendre. Les Français nés à l’étranger doivent également pouvoir les solliciter sans hésiter.</p>
    <p>Notre objectif avec l’ASFE est triple :</p>
    <ol class="list-decimal list-inside">
      <li class="mb-2">Devenir le relai privilégié des intérêts des Français de l’étranger dans les instances de décisions nationales, et en premier lieu le Sénat, où nous avons deux élus, Evelyne Renaud-Garabedian et Jean-Pierre Bansard ;</li>
      <li class="mb-2">Inciter les Français de l’étranger à participer à la vie publique française, en s’inscrivant sur les listes électorales et en votant aux élections consulaires et nationales. Plus nous nous mobiliserons, mieux nos intérêts seront pris en compte ;</li>
      <li class="mb-2">Devenir la principale « plateforme » de diffusion d’informations sur les Français de l’étranger.</li>
    </ol>
    <p>L’ASFE entend porter une image positive des Français de l’étranger, fidèle à leur dynamisme et à leur engagement. Pour cela, nous utilisons la voie d’un mouvement politique indépendant. Notre conception de la politique est la suivante : un travail assidu et des actions concrètes au service de l’autre. Cet autre, pour l’ASFE, ce sont les Français de l’étranger.</p>
  </div>
  </blockquote>
</div>
