<div class="p-6 mb-12" id="contact">
  <h2 class="mt-8 font-bold tracking-wide text-center text-gray-400 uppercase">Contact</h2>
  <h3 class="mt-2 text-3xl font-bold text-center text-gray-100">Notre équipe reste à l'écoute</h3>
  <div class="flex flex-col items-center">
    <p class="max-w-3xl mt-4 space-y-6 text-center text-gray-300">Vous pouvez nous écrire à <span class="font-semibold text-white">vassili [@] lemoigne.eu</span> ou cliquer ci-dessous.
    <p class="max-w-3xl mb-2 text-center text-gray-300">Nous sommes aussi joignables sur <a href="https://www.facebook.com/vassili.engiomel.3" class="text-white" style="text-decoration-line: underline;"><b>Facebook</b></a> ou par téléphone au <a style="text-decoration-line: underline;" href="tel:+420602603187"><b>+420 602 603 187.</b></a></p>
    <p class="max-w-3xl mb-2 text-center text-gray-300">Nous répondons généralement en moins de 48h.</p>
    <a href="#"
    data-name="vassili"
    data-domain="lemoigne"
    data-tld="eu"
    onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"
    class="inline-flex items-center pl-4 pr-3 mt-4 text-sm font-semibold rounded-full group h-9 whitespace-nowrap focus:outline-none focus:ring-2 bg-asfe-green text-slate-100 hover:bg-emerald-600 hover:text-white focus:ring-slate-500">Nous écrire<svg class="ml-3 overflow-visible text-gray-200 group-hover:text-gray-100" width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0L3 3L0 6"></path></svg></a>
  </div>
</div>
