<footer class="p-4 bg-gray-800 shadow md:flex md:items-center md:justify-between md:p-6">
    <span class="text-sm text-gray-400 sm:text-center">© 2022 <a href="https://alliancesolidaire.org/" class="hover:underline">ASFE</a>
    </span>
    <ul class="flex-wrap items-center hidden mt-3 text-sm text-gray-400 md:flex sm:mt-0">
        <li>
            <a href="/qui-sommes-nous" class="mr-4 hover:underline md:mr-6">Qui sommes-nous</a>
        </li>
        <li>
            <a href="/le-vote" class="mr-4 hover:underline md:mr-6">Le vote</a>
        </li>
        <li>
            <a href="/#contact" class="mr-4 hover:underline md:mr-6 ">Contact</a>
        </li>
        <li>
            <a href="https://alliancesolidaire.org/quest-ce-que-lasfe/" target="_blank" class="hover:underline md:mr-6">L'ASFE</a>
        </li>
        <li>
          <a href="https://alliancesolidaire.org/rejoindre-lasfe/" target="_blank" class="hover:underline md:mr-6">Nous rejoindre</a>
        </li>
    </ul>
</footer>
