<div class="mb-12">
  <h2 class="mt-16 mb-6 text-4xl font-bold text-center text-gray-100">Ils nous soutiennent</h2>
  <ul class="space-y-4 overflow-scroll md:space-y-0 md:space-x-8 md:flex">
    <% Soutien.all.each do |soutien| %>
      <li class="text-sm leading-6 min-w-fit">
        <figure class="relative flex flex-col-reverse p-6 md:rounded-lg md:bg-asfe-blue-dark highlight-white/5">
          <blockquote class="max-w-lg mt-6 text-slate-300"><p><%= soutien.citation %></p></blockquote>
          <figcaption class="flex items-center space-x-4">
            <%= image_tag soutien.photo, class:'flex-none object-cover rounded-full w-14 h-14' %>
            <div class="flex-auto">
                <div class="text-base font-semibold text-gray-300">
                  <%= soutien.nom %>
                </div>
                <div class="mt-0.5 text-white"><%= soutien.intitule %></div>
            </div>
          </figcaption>
        </figure>
      </li>
    <% end %>
  </ul>
</div>
