<div class="flex-shrink-0 block text-gray-700 md:inline-block md:w-32">
  <%= render "madmin/shared/label", form: form, field: field %>
</div>
<%= form.text_field field.attribute_name, class: "form-input form-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
